/* .App {
  /* background-color: #A0C1B8; */
  /* background: linear-gradient(180deg,#43C6AC,#191654) */



  hr {
    background-color:transparent;
  }

  body{
    background-image:linear-gradient(180deg, #0d9b7eae 0%, #080541df 100%), url('../img/background.jpg') ;
    background-size:cover;
    height: 100%;
    width: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

