/* .App {
  /* background-color: #A0C1B8; */
  /* background: linear-gradient(180deg,#43C6AC,#191654) */



  hr {
    background-color:transparent;
  }
  html {
    height: 100%;
  }
  body{
    background: linear-gradient(180deg, #43c6ac 0%, #191654 100%);
  }
  body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
