.about{
    text-align: center;
    margin-top: 40px;
    color: #fdd3cc;
    font-family: 'Quicksand', sans-serif;
    font-size: medium;
}

.home{
    margin-top: 50px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: small;
    color: #fdd3cc;
}