.titleapp{
  font-size:20px;
  font-family: 'Quicksand', sans-serif;
  color: #ffffff;
  text-align:start;
  margin-left: 10px;
}

.cont {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  align-items: center;
  padding-top: 3px;
  padding-bottom: 4px;
} 


.about2{
  font-size: 20px;
  color: #ffffff;
  font-family: 'Quicksand', sans-serif;
  margin-right: 10px;
  font-weight: bold;
}

