.position{
    display: flex;
    flex-wrap: wrap;
    padding-top: 5px;
}

.btn{
    margin-left: 10px;
    margin-right: 10px;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}


.inputBox{
    background-color: transparent;
    border-radius: 20px;
    border: 1px solid #ffffff;
    outline: none;
    font-family: 'Quicksand', sans-serif;
    color:#ffffff;
}

.text{
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
}

::placeholder { color: #ffffff; }